.blogpage {
  max-width: var(--max-width);
  display: flex;
  margin: 75px auto;
}

.blogpage-left {
  width: 70%;
}

@media (max-width: 768px) {
  .blogpage-left {
    width: 100%;
  }
}

.blogpage-right {
  display: flex;
  flex-direction: column;
  width: 30%;
}
