.commentBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 12px;
  border: 2px solid rgb(195, 195, 195);
  padding: 4px;
}

.commentBox textarea {
  outline: none;
  border: none;
  padding: 8px;
  resize: vertical;
  border-radius: 12px;
}

.activeInput {
  border: 2px solid rgb(225, 225, 225);
}

.replyButtons {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  padding: 2px 4px;
}

.replyButtons button {
  background-color: #ff6b5c;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 4px 8px;
  box-shadow: 0 0 1px #ff6b5c;
  cursor: pointer;
}

.replyButtons button:hover {
  background-color: rgba(255, 108, 92, 0.75);
}
