.blog-page {
  max-width: 896px;
  margin: 75px auto;
}

.blog-page-container {
  display: flex;
  flex-direction: column;
}

.back-link {
  display: inline-flex;
  align-items: center;
  color: #4f46e5;
  margin-bottom: 2rem;
  text-decoration: none;
}

.back-link:hover {
  color: #4338ca;
}
