*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --overlay: rgba(0, 0, 0, 0.5);
  --primary-color: white;
  --secondary-color: green; 
  --tertiary-color: rgb(254, 241, 229);
  --background-color: #f0f9ff;
  --max-width: 1440px;
}

img{
  width: 100%;
}

body{
  background-color: var(--background-color);
  z-index: -100;
}