.homepage{
  max-width: var(--max-width);
  display: flex;
  margin: 0 auto;
}

.homepage-left{
  width: 65%;
}

.homepage-mobile-left{
  width: 100%;
}

.homepage-right{
  width: 35%;
  display: flex;
  flex-direction: column;
}
