.search-bar {
  display: block;
  max-width: 800px;
  width: 80%;
  padding: 0.4em 1em;
  font-size: 1.25rem;
  border-radius: 1em;
  background-color: var(--tertiary-color);
  border: none;
  outline: none;
  height: 40px;
}