.blog {
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: white;
}

.blog h1 {
  font-size: 1.7rem;
}

.author {
  /* display: flex; */
  gap: 8px;
  width: fit-content;
}

.author p {
  margin: 0.5em auto;
}

.blogContent * p,
.blogContent * span {
  line-height: 1.4;
  font-size: 1.1rem;
}

.blogContent * img {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  display: block !important;
  float: none !important;
  margin-top: 30px;
  margin-bottom: 30px;
}

.blogContent div {
  margin-top: 10px;
}

.author button {
  border: none;
  background: none;
  color: blue;
  cursor: pointer;
  font-weight: 600;
}

@media (min-width: 768px) {
  .blog {
    margin: 1.5em 1em;
    padding: 2em 3em;
  }

  .blog h1 {
    font-size: 2.5rem;
  }

  .blog p {
    margin: 1em auto;
  }
}

.buttonsContainer {
  margin: 0 1em;
}

.commentContainer {
  background-color: white;
  margin: 1.5em 1em;
  padding: 16px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
