.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar nav {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.navbar-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo {
  max-width: 60px;
  margin: 1em;
}

.nav-item {
  list-style: none;
  cursor: pointer;
  margin: 1em;
}

.nav-item-logo {
  max-width: 25px;
}

.nav-list {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.nav-login {
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.25em 1.25em;
  margin: 0 1em;
  border-radius: 1em;
  font-weight: 500;
}

.nav-logo {
  max-width: 60px;
}

.nav-login-w {
  background-color: white;
  color: black;
}

.search-container-nav {
  display: none;
}

.navbar-bg {
  box-shadow: 0px 4px 4px 0px #63BAD575;
  background: linear-gradient(0deg, #B0EBFF 0%, #00B3EE 86.5%);
}

